@import '../../../styles/styles';

:host {
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;

    &:checked ~ span {
      &::after {
        display: block;
      }
    }

    &:checked:hover ~ span {
      background-color: initial;
      filter: none;
    }
  }

  span {
    @include respond('mobile') {
      height: 1rem;
      width: 1rem;
    }
    @include respond('desktop') {
      height: 1.5rem;
      width: 1.5rem;
    }
    position: relative;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    transition: filter 0.3s ease-in-out;

    &::after {
      content: "";
      position: absolute;
      display: none;
      @include respond('desktop') {
        top: .25rem;
        left: .25rem;
        width: 1rem;
        height: 1rem;
      }
    }
  }
}
