@import '../../../../styles/styles';

:host {
  label {
    &.frutiger {
      &:hover {
        filter: $filter-dark;
      }
      span {
        background-image: $frutiger-gradient;

        &::after {
          background-image: $frutiger-gradient;
          filter: $filter-dark;
        }

        &.checked::after {
          background-image: none;
          background-color: $frutiger-solid-light;
        }
      }
    }
  }
}
