@import '../../../../styles/styles';

:host {
  label {
    &.standard {
      &:hover {
        filter: $filter-dark;
      }
      input {
        &:checked ~ span {
          background-color: $standard-exterior;
        }
      }
      span {
        background-color: $standard-interior;

        &::after {
          background-color: $standard-interior;
        }
      }
    }
  }
}
