<main>
    @for (checkbox of checkboxes; track $index) {
      <app-checkbox
        [(ngModel)]="checkboxes[$index]"
        name="checkbox[{{$index}}]"
        label="Option {{$index}}"
     />
    }
  <h1 [ngClass]="theme | async">Usage</h1>
  <code>
    &lt;app-checkbox <br>
      &nbsp;&nbsp;[(ngModel)]="checkboxModel" <br />
      &nbsp;&nbsp;name="checkbox" <br />
      &nbsp;&nbsp;label="My Option" <br />
    />
  </code>
  <a [ngClass]="theme | async" href="https://github.com/kassimir/chrisim/tree/master/src/app/components/checkbox-radio/checkbox">Github Page</a>
</main>
