<main>
  @for (radio of radios; track $index) {
    <app-radio
      [(ngModel)]="selectedRadio"
      name="test"
      [label]="'Option ' + $index"
    />
  }
  <h1 [ngClass]="theme | async">Usage</h1>
  <code>
    &lt;app-radio <br>
    &nbsp;&nbsp;[(ngModel)]="selectedRadio" <br>
    &nbsp;&nbsp;name="radios" <br>
    &nbsp;&nbsp;[label]="Option 1" <br>
    /> </code>
  <a [ngClass]="theme | async" href="https://github.com/kassimir/chrisim/tree/master/src/app/components/checkbox-radio/radio">Github Page</a>
</main>
