@import '../../../styles/styles';

:host {
  .container {
    height: $element-height;
    width: $element-width;
    border-radius: $border-radius;
    border: none;
    position: relative;
    transition: filter 0.3s ease-in-out;

    &:hover {
      filter: $filter-dark;
    }

    label {
      height: 100%;
      width: 100%;
    }

    input {
      outline: none;
      padding-left: 0.5rem;
      border: none;
      position: absolute;
    }
  }
}
