// Standard Variables and mixins
@mixin respond($breakpoint) {
  @if $breakpoint == 'mobile' {
    @media (max-width: 1024px) {
      @content;
    }
  } @else if $breakpoint == 'desktop' {
    @media (min-width: 1025px) {
      @content;
    }
  }
}

@mixin responsive-size {
  @include respond('mobile') {
    height: $element-height-m;
    width: $element-width-m;
  }
  @include respond('desktop') {
    height: $element-height-d;
    width: $element-width-d;
  }
}

$element-height-d: 3rem;
$element-width-d: 15rem;
$element-height-m: 2rem;
$element-width-m: 6rem;
$filter-dark: brightness(0.8);
$filter-darker: brightness(0.6);
$thin-padding: 2px;
$thick-padding: 5px;
$border-radius: 0.25em;

@mixin thin-border {
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
}

@mixin thick-border {
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
}

@mixin pages {
  main {
    padding: 0.5rem 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    code {
      border: 1px solid black;
      background-color: #fff;
      padding: 1rem;
      margin-bottom: 1rem;
      color: black;
    }

    h1, a {
      &.metal {
        color: $metal-solid-light;
      }
      &.neon {
        color: $neon-color;
      }
      &.frutiger {
        color: $frutiger-solid-dark;
      }
    }
  }
}

//THEME VARIABLES AND MIXINS
// Standard
$standard-exterior: #666;
$standard-interior: #c0c0c0;

// Metal
$metal-solid-light: #AAA492;
$metal-solid-dark: #61573a;
$metal-gradient: linear-gradient(135deg, $metal-solid-light, #FFFFFF, $metal-solid-light);

@mixin metal-interior {
  box-shadow: inset 0 0 10px #8b8c8c;
  background-image: $metal-gradient;
  filter: $filter-dark;
  text-shadow: 0 0 3px $metal-solid-light;
  color: $metal-solid-dark;
}

//Neon
$neon-color: hsl(317 100% 54%);
$neon-color-light: hsl(317, 100%, 54%, 0.5);

@mixin neon-container {
  color: $neon-color;
  text-shadow: 0 0 0.5em $neon-color;
  box-shadow: inset 0 0 0.5em 0 $neon-color, 0 0 0.5em 0 $neon-color;
}

@mixin neon-hover {
  text-shadow: 0 0 0.75em $neon-color;
  box-shadow: inset 0 0 0.75em 0 $neon-color, 0 0 0.75em 0 $neon-color;
}

//frutiger
$frutiger-solid-bright: #FFFFFF;
$frutiger-solid-light: #9FDBFA;
$frutiger-solid-dark: #075da4;
$frutiger-solid-darkest: #3E4952;

$frutiger-gradient: linear-gradient(0deg, $frutiger-solid-darkest 0%, $frutiger-solid-dark 43%, white 70%, $frutiger-solid-light 100%);
$frutiger-font: white;

@mixin frutiger-interior {
  box-shadow: inset 0 0 10px $frutiger-solid-darkest;
  background-color: $frutiger-solid-light;
  text-shadow: 0 0 3px $frutiger-solid-darkest;
  color: $frutiger-font;
}