@import '../../../styles/variables';

:host {
  .container {
    @include respond('mobile') {
      width: 10rem;
      .header {
        height: $element-height-m;
      }
    }
    @include respond('desktop') {
      width: 20rem;
      .header {
        height: $element-height-d;
      }
    }

    .header {
      display: flex;
      padding-left: 1rem;
      align-items: center;
      justify-content: flex-start;
      transition: filter 0.3s ease-in-out;
      border-radius: $border-radius;
      cursor: pointer;
      position: relative;

      .dropdown-arrow {
        position: absolute;
        top: 45%;
        right: 0.8em;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;

        &.flip {
          transform: rotate(180deg);
        }
      }

    }
    .content-border {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease-in-out;
      position: relative;

      &.expanded {
        max-height: 15rem;
      }

      .content {
        padding: 1rem;
        display: flex;
        justify-content: flex-start;
        max-height: 10rem;
        overflow: auto;

        &::-webkit-scrollbar {
          width: 12px;
        }
        &::-webkit-scrollbar-track {
          background: #FFFFFF;
          border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb {
          background: #AAA492;
          border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb:hover {
          background: #555;
        }
      }
    }
  }
}
