@import '../../../../styles/variables';

:host {
  .button {
    &.metal {
      background-image: $metal-gradient;
      text-shadow: 0 0 3px $metal-solid-light;
      color: $metal-solid-dark;
      filter: $filter-dark;

      &:hover {
        filter: $filter-darker;
      }
    }
  }
}
