@import '../../../../styles/variables';

:host {
  .button {
    &.metal {
      background-image: $metal-gradient;
      text-shadow: 0 0 3px #AAA492;
      color: #61573a;
      filter: $filter-dark;

      &:hover {
        filter: $filter-darker;
      }
    }
  }
}
