<div class="container metal" (click)="showDropDown = !showDropDown">
  <div class="select">
    <span>{{selectDisplay}}</span>
    <div class="dropdown-arrow"></div>
  </div>
  <div class="dropdown" *ngIf="showDropDown">
    <div class="option-container">
      @for(option of options; track option.value) {
        <div class="option"
          (mouseenter)="highlight($index)"
          (mouseleave)="unhighlight($index)"
          (click)="selectItem($index, option.text)"
          [class.hover]="selectedOptions[$index]"
        >{{option.text}}</div>
      }
    </div>
  </div>
</div>
