<div class="container" [ngClass]="theme | async"
     (click)="showDropDown = !showDropDown"
     [class.hover-container]="!showDropDown && hoverContainer"
     (mouseenter)="containerEnter()"
     (mouseleave)="containerLeave()"
>
  <div class="select">
    <span>{{selectDisplay}}</span>
    <div class="dropdown-arrow"></div>
  </div>
  <div class="dropdown" *ngIf="showDropDown">
    <div class="option-container">
      @for(option of options; track option.value) {
        <div class="option"
          [ngClass]="{'backgroundColor': bgColor | async}"
          (mouseenter)="highlight($index)"
          (mouseleave)="unhighlight($index)"
          (click)="selectItem($index, option.text, option.value)"
          [class.hover-option]="selectedOptions[$index]"
        >{{option.text}}</div>
      }
    </div>
  </div>
</div>
