@import '../../../styles/variables';

:host {
  .container {
    height: $element-height;
    width: $element-width;
    border-radius: 4%;
    border: none;
    position: relative;
    transition: filter 0.3s ease-in-out;
    z-index: 999;
    cursor: pointer;

    &.hover-container {
      filter: $filter-amount;
    }

    .select, span {
      outline: none;
      padding-left: 0.5rem;
      border: none;
      position: absolute;
    }

    span {
      display: flex;
      align-items: center;
    }

    .dropdown {
      position: relative;
      top: calc(3rem - 5px);
      left: 0;
      right: 0;
    }

    .dropdown-arrow {
      position: absolute;
      right: 0.8rem;
      top: 50%;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
    }

    .option {
      padding: 0.3rem;
      background-color: transparent;
    }

    .hover-option {
      background-color: rgba(0,0,0,0.2);
    }

  }
}
