@import '../../../../styles/styles';

:host {
  .container {
    &.standard {
      border: $thin-padding solid $standard-exterior;
      background-color: $standard-interior;

      &.selected {
        .chip {
          background-color: $standard-exterior;
        }
      }

      &:hover:not(.selected) {
        filter: $filter-dark;
      }
    }
  }
}
