@import '../../../styles/variables';

:host {
  .button {
    height: $element-height;
    width: $element-width;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 0.3s ease-in-out;
    border-radius: $border-radius;
    cursor: pointer;
  }
}
