@import '../../../styles/variables';

:host {
  .button {
   @include responsive-size;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 0.3s ease-in-out;
    border-radius: $border-radius;
    cursor: pointer;
  }
}
