@import '../../../styles/styles';

:host {
  .container {
    @include respond('mobile') {
      width: 3.5rem;
      height: 1rem;
    }
    @include respond('desktop') {
      width: 6rem;
      height: 2rem;
      font-size: 80%;
    }
    border-radius: $border-radius;

    .chip {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }
}
