<main>
  <header>
    <h2>WELCOME</h2>
    <p>This is a small bit of coding I've put together to show my coding style. It is comprised of a few components, which utilize ControlValueAccessor.</p>
    <p>This allows them to be used for forms. They currently do not have the ability to enable/disable via Reactive forms, but that's because <a target="_blank" href="https://www.linkedin.com/pulse/angular-template-forms-superior-reactive-chris-stanley-ub1oc/">Template Driven Forms are far superior.</a></p>
    <p>This site is under construction as of 11/11/2024.</p>
    <div class="button">
      <app-button routerLink="/components">Components</app-button>
    </div>
  </header>
</main>
