@import '../../../styles/styles';

:host {
  main {
    @include respond('mobile') {
      font-size: 85%;
      padding: 1rem;
    }
    @include respond('desktop') {
      padding: 5rem;
    }
    color: black;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('/assets/bg.png');
    background-size: cover;

    header, .button {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    header {
      background: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(10px);
      border-radius: 10px;
      border: 1px solid rgba(0, 0, 0, 0.8);
      padding: 2rem;
      box-sizing: border-box;
      width: 100%;
      height: auto;
    }

    h2, p, .button {
      width: 100%;
      max-width: 50rem;
    }

    h2 {
      text-align: center;
    }
  }
}
