:host {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;

    .components {
      width: 100%;
      max-width: 50rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex: 1;
      flex-wrap: wrap;
      margin: 2rem 0;

      .button {
        width: 3rem;
        height: 2rem
      }
    }
    .themes {
      app-radio {
        margin: 0 1rem;
      }
    }
  }
}
