<header>
    <div class="components">
        @for( comp of componentList; track $index) {
            <app-chip
                [routerLink]="[{outlets: { components: [comp] } }]"
                [selected]="selectedChip === $index"
                (click)="selectedChip = $index"
            >{{comp}}</app-chip>
        }
    </div>
    <div class="themes">
        @for( theme of themesList; track $index) {
            <app-radio
              name="theme"
              [(ngModel)]="selectedTheme"
              [label]="theme"
            />
        }
    </div>
</header>
<router-outlet name="components"></router-outlet>
