@import '../../../../styles/variables';

:host {
  .container {
    &.frutiger {
      background-image: $frutiger-gradient;

      .select, span {
        @include thick-border;
      }

      .select, .option-container {
        @include frutiger-interior;
      }

      &.hover-container {
        filter: $filter-dark;
      }

      .dropdown {
        padding: 0 $thick-padding $thick-padding $thick-padding;
        background-color: $frutiger-solid-darkest;
      }

      .dropdown-arrow {
        border-top: 5px solid $frutiger-solid-darkest;
      }
    }
  }
}
