@import '../../../../styles/styles';

:host {
  .container {
    &.metal {
      .header {
        background-image: $metal-gradient;
        filter: $filter-dark;
        text-shadow: 0 0 3px $metal-solid-light;
        color: $metal-solid-dark;

        .dropdown-arrow {
          border-top: 5px solid $metal-solid-dark;
        }

        &:hover {
          filter: $filter-darker;
        }
      }

      .content-border {
        background-image: $metal-gradient;

        .content {
          margin: 0 $thick-padding $thick-padding $thick-padding;
          @include metal-interior;
        }
      }
    }
  }
}
