@import '../../../../styles/styles';

:host {
  .container {
    &.metal {
      .header {
        background-image: $metal-gradient;
        filter: $filter-amount;
        text-shadow: 0 0 3px #AAA492;
        color: #61573a;

        .dropdown-arrow {
          border-top: 5px solid #61573a;
        }

        &:hover {
          filter: $filter-amount-darker;
        }
      }

      .content-border {
        background-image: $metal-gradient;

        .content {
          margin: 0 $thick-padding $thick-padding $thick-padding;
          @include metal-interior;
        }
      }
    }
  }
}
